html, body{
    height: 100%;
}

body{
    background: url(../images/SM3-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hstyles{
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: rgb(206, 111, 148);
}

.dstyles{
    background: rgba(89, 214, 208, 0.781);
    width: 200px;
}

.cstyles{
    min-height: 250px;
}

.main-area-bg{
    background: url(../images/p4gbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 100px;
    max-width: 540px;
}

.cust-faded-bg{
    background: rgba(255, 255, 255, 0.849);
}

#wrap{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 150px;
}

.footer{
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
    visibility: hidden;
}